<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/login.css">
    <link href="./static/img/favicon.png" rel="icon">
    <style>
        .alert-username {z-index: {{z_index_u}};}
        .alert-password {z-index: {{z_index_p}};}
        .alert-error {z-index: {{z_index_e}};}
    </style>
</head>
<body>
    <main class="container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter your username" autocomplete="off">
                <div class="underline"></div>
                <div class="alert"><p class="alert-username">Must provide username</p></div>
            </div>

            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <div class="underline"></div>
                <div class="alert"><p class="alert-password">Must provide password</p></div>
            </div>

            <input type="submit" value="Continue">
        </form>

        <div class="footer">
            <div class="forgot__password">
                <p><a href="/change" class="btn">Forgot Password?</a></p>
            </div>
            <span><a href="/register">Register Now</a></span>
            <div class="alert-error"><p class="wrong-password">Invalid username and/or password</p></div>
        </div>
    </main>
    <div class="footer-data">
        <footer>
           <span>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</span>
        </footer>
    </div>
</body>
</html>