<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== BOX ICONS =====-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- ===== CSS =====-->
    <link rel="stylesheet" href="./static/css/style.css">
    <link href="./static/img/favicon.png" rel="icon">

    <title>Doretto Stock</title>
</head>
<body>
    <!-- ========= HEADER =========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <div class="title__logo">
                Doretto<a href="#" class="nav__logo__blue"> Stock</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item nav__item__100"><a href="#what__else" class="nav__link">What else?</a></li>
                    <li class="nav__item nav__item__100"><a href="#start" class="nav__link">Start now</a></li>
                    <li class="nav__item nav__item__100"><a href="#contact" class="nav__link">Contact us</a></li>
                </ul>
            </div>
            <div class="nav__login">
                <a href="/login" class="login"><i class='bx bx-user-circle'></i></a>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <main class="l-main">
        <!-- ========== HOME ========== -->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">This is </br>Doretto Stock</h1>
                    <h2 class="home__subtitle">You're about to know verything about stocks.</h2>
                </div>
                <img src="./static/img/home-img.jpg" alt="" class="home__img">
            </div>
        </section>

        <!-- ========== ABOUT ========== -->
        <section class="about section bd-container" id="about">
            <div class="about__container bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About stocks</span>
                    <h2 class="section-title about__initial">This is the history.</h2>
                    <p class="about__description">Stock markets now exist in most countries, but the first starteared in 17th century Amsterdam. Let's see how it works in this video.</p>
                </div>
                <iframe class="about__video" width="560" height="315" src="https://www.youtube.com/embed/ZCFkWDdmXG8?start=97" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>

        <!-- ========= WHAT ELSE =========-->
        <section class="what__else section bd-container" id="what__else">
            <span class="section-subtitle">A little further</span>
            <h2 class="section-title">What can you do with stocks?</h2>

            <div class="what__else__container bd-grid">
                <div class="what__else__content">
                    <img src="./static/img/grafico.png" alt="" class="what__else__img">
                    <h3 class="what__else__title">Buy your share</h3>
                    <p class="what__else__description">Study the company and when you feel safe and believe that the company will value, buy your shares.</p>
                </div>
                <div class="what__else__content">
                    <img src="./static/img/carteira.png" alt="" class="what__else__img">
                    <h3 class="what__else__title">Sell your share</h3>
                    <p class="what__else__description">When the company value and increases your profit, sell and keep the money earned.</p>
                </div>
                <div class="what__else__content">
                    <img src="./static/img/foguete.png" alt="" class="what__else__img">
                    <h3 class="what__else__title">Repeat</h3>
                    <p class="what__else__description">Repeat the strategy with several listed companies, take care of your money and earn your profits again.</p>
                </div>
            </div>
        </section>

        <!-- ========= START NOW =========-->
        <section class="start section bd-container" id="start">
            <div class="start__container bd-grid">
                <div class="start__data">
                    <span class="section-subtitle start__initial">Start now!</span>
                    <h2 class="section-title start__initial">Start tranding on the stock market.</h2>
                    <p class="start__description">Create an account and start buying and selling shares, gain experience and learn about this great market.</p>

                </div>
                <img src="./static/img/login.png" alt="" class="start__img">
            </div>
            <br>
            <div class="start__logins">
                <a href="/login" class="button">Start right now</a>
             </div>
        </section>

        <!-- ========= CONTACT US =========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Let's talk</span>
                    <h2 class="section-title contact__initial">Contact us</h2>
                    <p class="contact__description">If you have any questions about how to get started or about any strategy contact us.</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>

        <!-- ========= FOOTER =========-->
        <footer class="footer section bd-container">
            <div class="footer__container">
                <div class="footer__content">
                    <a href="#" class="footer__logo">CStock50'x</a>
                    <span class="footer__description">Stock market</span>

                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter' ></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Lorem</a></li>
                        <li><a href="#" class="footer__link">Ipsum</a></li>
                        <li><a href="#" class="footer__link">Dolor</a></li>
                        <li><a href="#" class="footer__link">Sit</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Create account</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Adress</h3>
                    <ul>
                        <li>São Paulo - Brazil</li>
                        <li>Av Brasil #999</li>
                        <li>999 - 888 - 777</li>
                        <li>cstock50@email.com</li>
                    </ul>
                </div>
            </div>

            <p class="footer__copy">&#169; 2021 CStock50'x. All right reserved.</p>
            <p class="footer__copy"><a href='https://br.freepik.com/' class="footer__copy">All images were taken from freepik by the creators: pikisuperstar and gstudioimagen</a></p>
        </footer>

    </main>
    <script src="./static/js/main.js"></script>
</body>
</html>
